{% extends "index.html" %}

{% block content %}

<section>
    <img src="./assets/user.png" alt="User Account Information">
    <span><strong>Account Information</strong></span>
</section>

<section>
    <form method="post">
        <div class="form-group">
            <label class="text-default">Welcome</label>
            <input class="form-control" type="text" id="usernameInput"
                   value="{{username}}" name="username" autofocus disabled>
        </div>
        <div class="form-group">
            <label class="text-default">Email address</label>
            <input class="form-control" type="email" id="emailInput"
                   value="{{email}}" name="email" disabled>
        </div>
        <div class="form-group">
            <label class="text-default">Created on: </label>
            <input class="form-control" type="email" id="dateInput"
                   value="{{creation_date|datetime}}" name="email" disabled>
        </div>
        <div class="form-group">
            <label class="text-default">Comments: </label>
            <textarea class="form-control" id="commentInput" rows="4" disabled
                      name="text" value="{{comments}}">{{comments}}</textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</section>

{% endblock %}