{% extends "index.html" %}

{% block content %}

<h2>User Accounts Management</h2>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="navbar-brand" href="/account_signup">
                    <img src="./assets/signup.png" alt="Account Signup">
                    <span><strong>Signup</strong></span>
                </a>
            </div>
            <div class="col-sm text-right">
                <a class="navbar-brand" href="/account_login">
                    <img src="./assets/login.png" alt="Account Login">
                    <span><strong>Login</strong></span>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}