{% extends "index.html" %}

{% block content %}

<h3 class="text-center">User Accounts Management</h3>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="navbar-brand" href="/account_signup">
                    <img src="./assets/signup.png" alt="Account Signup">
                    <span><strong>Signup</strong></span>
                </a>
            </div>
            <div class="col-sm text-right">
                <a class="navbar-brand" href="/account_login">
                    <img src="./assets/login.png" alt="Account Login">
                    <span><strong>Login</strong></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <blockquote>
        <cite>
            <a href="https://jumpcloud.com/blog/what-is-user-management/" target="_blank">What is User Management?</a>
        </cite>
    </blockquote>
    <div>
        "User management describes the ability for administrators to manage user access to various IT resources
        like systems, devices, applications, storage systems, networks, SaaS services, and more.
        User management is a core part to any directory service and is a basic security essential for any organization.
        User management enables admins to control user access and on-board and off-board users to and from IT resources.
        Subsequently a directory service will then authenticate, authorize, and audit user access to IT resources
        based on what the IT admin had dictated."
    </div>
</section>

{% endblock %}