{% extends "index.html" %}

{% block content %}

<h3>
    <a class="" target="_blank"
       href="https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api">
        Designing a Pragmatic RESTful API
    </a>
</h3>
<section>
    <blockquote>
        <cite>
            Excerpt from the
            <a href="https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api" target="_blank">
                Best Practices for Designing a Pragmatic RESTful API article
            </a>
        </cite>
        <footer class="blockquote-footer">© 2018 Vinay Sahni</footer>
    </blockquote>
</section>

<section>
    <blockquote>
        <cite>
            Your data model has started to stabilize and you're in a position to create a public API for your web app.
            You realize it's hard to make significant changes to your API once it's released and want to get as much
            right as possible up front.

            Now, the internet has no shortage on opinions on API design. But, since there's no one widely adopted
            standard that works in all cases, you're left with a bunch of choices:
            <div>
                <ul>
                    <li>What formats should you accept?</li>
                    <li>How should you authenticate?</li>
                    <li>Should your API be versioned?</li>
                </ul>
            </div>
        </cite>
    </blockquote>
</section>

<section>
    <h4 class="text-secondary">Key requirements for the API</h4>
    <section>
        <div>
            Many of the API design opinions found on the web are academic discussions revolving around subjective
            interpretations of fuzzy standards as opposed to what makes sense in the real world.
            My goal with this post is to describe best practices for a pragmatic API designed for today's web applications.
            I make no attempt to satisfy a standard if it doesn't feel right.
            To help guide the decision making process, I've written down some requirements that the API must strive for:
            <ul>
                <li>It should use web standards where they make sense</li>
                <li>It should be friendly to the developer and be explorable via a browser address bar</li>
                <li>It should be simple, intuitive and consistent to make adoption not only easy but pleasant</li>
                <li>It should provide enough flexibility to power majority of the Enchant UI</li>
                <li>It should be efficient, while maintaining balance with the other requirements</li>
                <li>An API is a developer's UI - just like any UI, it's important to ensure the user's experience is thought out carefully!</li>
            </ul>
        </div>
    </section>
    <div>
        The full requirements and recommendations can be found
        <a href="https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#requirements">here.</a>
    </div>
</section>

<section>
    <p>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#blogentries"
                aria-expanded="false" aria-controls="blogentries">
            Blog entries in JSON format
        </button>
    </p>
    <div class="collapse" id="blogentries">
        <div class="card card-body">
            <samp>
                {{ entries }}
            </samp>
        </div>
    </div>
</section>

{% endblock %}