{% extends "index.html" %}

{% block content %}

<h2>A Google App Engine Blog Application</h2>
<section>
    <div class="d-flex flex-row">
        <img class="p-2" src="https://img.shields.io/badge/license-MIT%20License-green.svg" alt="MIT License">
        <img class="p-2" src="https://img.shields.io/badge/language-python-4280B1.svg" alt="Python Language">
        <img class="p-2" src="https://img.shields.io/badge/templating%20engine-Jinja2-B41717.svg" alt="Jinja2 Templating Engine">
        <img class="p-2" src="https://img.shields.io/badge/platform-google%20app%20engine-4385F7.svg" alt="Google App Engine Platform">
    </div>
    <div>
        This web project is about building, in a step-by-step fashion, a fully-functional blog that has user registration,
        submitting links, security, caching, and viewing everything together. The final product will be deployed online
        via Google App Engine.
    </div>
</section>

<section>
    <h3>Languages - Libraries - Tools</h3>
    <ul>
        <li>
            <a href="https://www.python.org/downloads/release/python-2714/" target="_blank">Python 2.7.14</a>
        </li>
        <li>
            <a href="http://jinja.pocoo.org/docs/2.10/" target="_blank">Jinja2 templating engine</a>
        </li>
        <li>
            <a href="https://cloud.google.com/appengine/docs/standard/python/download" target="_blank">Google App Engine</a>
        </li>
        <li>
            Any code/text editor (<a href="https://atom.io/" target="_blank">atom</a>) or IDE
            (<a href="https://www.jetbrains.com/pycharm/download" target="_blank">PyCharm</a>) of your choice.
        </li>
    </ul>
</section>

<section>
    <h3>Deploying the application</h3>
    <blockquote>
        <cite>
            Google App Engine allows to build scalable web and mobile backends in any language on Google’s infrastructure.
        </cite>
    </blockquote>
    <div>
        In this project, we use the original local development App Engine SDK for Python.
        The latest version - 1.9.66 - can be downloaded
        <a href="https://cloud.google.com/appengine/docs/standard/python/download#python_windows" target="_blank">here</a>. <br/>
        In order to deploy the application online, you'll need to sign up for a
        <a href="https://developers.google.com/" target="_blank">google account</a>, if you don't have one already. <br/>
        Here's a <a href="https://www.youtube.com/watch?v=euox_iFW2eM" target="_blank">video tutorial</a> on how to install
        and use Google App Engine in creating and deploying applications.
    </div>
</section>

<section>
    <h3>Resources</h3>
    <ul>
        <li>
            <a href="https://classroom.udacity.com/courses/cs253" target="_blank">Udacity Web Development</a>
        </li>
        <li>
            <a href="https://cloud.google.com/appengine/docs/standard/python/" target="_blank">
                Google App Engine Python Standard Environment Documentation
            </a>
        </li>
    </ul>
</section>

<section>
    <h2>License</h2>
    <div>
        <a href="https://opensource.org/licenses/MIT" target="_blank">The MIT License</a>
    </div>
    <blockquote id="license">
        <div>
            <cite>
                Copyright (c) 2018 Udacity. <br/>
                Copyright (c) 2018 Solange Umuhire Gasengayire. <br/> <br/>

                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions: <br/> <br/>

                The above copyright notice and this permission notice shall be included in all
                copies or substantial portions of the Software. <br/> <br/>

                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                SOFTWARE.
            </cite>
        </div>
    </blockquote>
</section>

{% endblock %}