{% extends "index.html" %}

{% block content %}

<h3 class="text-primary">The Twelve-Factor App</h3>
<section>
    <blockquote>
        <cite>
            Excerpt from the
            <a href="https://12factor.net/" target="_blank">
                Twelve-Factor App website.
            </a>
        </cite>
        <footer class="blockquote-footer">© 2018 Adam Wiggins</footer>
    </blockquote>
</section>

<section>
    <h4 class="text-secondary">Introduction</h4>
    <div>
        In the modern era, software is commonly delivered as a service: called web apps, or software-as-a-service.
        The twelve-factor app is a methodology for building software-as-a-service apps that:
        <div>
            <ul>
                <li>
                    Use declarative formats for setup automation, to minimize time and cost for new developers joining
                    the project;
                </li>
                <li>
                    Have a clean contract with the underlying operating system, offering maximum portability between
                    execution environments;
                </li>
                <lI>
                    Are suitable for deployment on modern cloud platforms, obviating the need for servers and systems
                    administration;
                </lI>
                <li>
                    Minimize divergence between development and production, enabling continuous deployment for maximum agility;
                </li>
                <li>
                    And can scale up without significant changes to tooling, architecture, or development practices.
                </li>
            </ul>
        </div>
        <div>
            The twelve-factor methodology can be applied to apps written in any programming language, and which use any
            combination of backing services (database, queue, memory cache, etc).
        </div>
    </div>
</section>

<section>
    <h4 class="text-secondary">Background</h4>
    <div>
        The contributors to this document have been directly involved in the development and deployment of hundreds
        of apps, and indirectly witnessed the development, operation, and scaling of hundreds of thousands of apps
        via our work on the <a class="text-info" href="https://www.heroku.com/" target="_blank">Heroku</a> platform.
    </div>
    <section>
        <div>
            This document synthesizes all of our experience and observations on a wide variety of software-as-a-service
            apps in the wild. It is a triangulation on ideal practices for app development, paying particular attention
            to the dynamics of the organic growth of an app over time, the dynamics of collaboration between developers
            working on the app’s codebase, and
            <a href="https://blog.heroku.com/the_new_heroku_4_erosion_resistance_explicit_contracts"
               target="_blank" class="text-info">
                avoiding the cost of software erosion.
            </a>
        </div>
    </section>
    <section>
        <div>
            Our motivation is to raise awareness of some systemic problems we’ve seen in modern application development,
            to provide a shared vocabulary for discussing those problems, and to offer a set of broad conceptual solutions
            to those problems with accompanying terminology. The format is inspired by Martin Fowler’s books Patterns of
            <a href="https://books.google.be/books/about/Patterns_of_enterprise_application_archi.html?id=FyWZt5DdvFkC&redir_esc=y"
               target="_blank" class="text-info">
                Enterprise Application Architecture
            </a> and <a href="https://books.google.be/books/about/Refactoring.html?id=1MsETFPD3I0C&redir_esc=y"
                        target="_blank" class="text-info">Refactoring.</a>
        </div>
    </section>
</section>

<section>
    <h4 class="text-secondary">Who should read this document?</h4>
    <div>
        Any developer building applications which run as a service. Ops engineers who deploy or manage such applications.
    </div>
</section>

<section>
    <div>
        <a class="font-weight-bold text-info" href="https://12factor.net/" target="_blank">
            Read more
        </a>
    </div>
</section>

{% endblock %}